@import "tailwindcss";

@font-face {
  font-family: "LHF Unlovable";
  src: url("/font/46887ce1dc738fc2de8f66db681c14ee.woff2") format("woff2"),
       url("/font/46887ce1dc738fc2de8f66db681c14ee.woff") format("woff"),
       url("/font/46887ce1dc738fc2de8f66db681c14ee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #1f0e1d;
  --foreground: #f7f1e5;
  font-size: 14px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}
